BOT_TOKEN=your_telegram_bot_token_here
DATABASE_URL=sqlite+aiosqlite:////app/data/reminders.db
DEFAULT_TIMEZONE=Europe/Moscow
LOG_LEVEL=INFO
WEBAPP_URL=https://reminderbot-service-hyvzfx-7fdfb3-147-93-87-146.sslip.io

API_PORT=8080
